body {
  margin: 0px;
}

footer {
  background-color: black;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 377px;
}

.box {
  border: 1px;
  border-color: white;
  margin: 0 auto;
  align-self: flex-start;
}

h2 {
  color: white;
  text-decoration: red underline;
}

ul {
  list-style: none;
  padding-left: 0px;
}

li {
  color: rgb(138, 132, 132);
  margin-top: 10px;
  text-align: left;
}

img {
  width: 20px;
  height: 20px;
  border-radius: 4px;
}
